@model stokTakip.Models.Entity.TBL_Urunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    <h2>Ürün Güncelle</h2>
    <br />
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })

    <br />
    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })

    <br />
    @Html.TextBoxFor(x => x.stok, new { @class = "form-control" })

    <br />
    @Html.TextBoxFor(x => x.alisFiyat, new { @class = "form-control" })

    <br />
    @Html.TextBoxFor(x => x.satisFiyat, new { @class = "form-control" })
    <br />

    @Html.DropDownListFor(x => x.TBL_Kategori.id, (List<SelectListItem>)ViewBag.urunKategori, new { @class = "form-control" })
    <br />

   
    <button class="btn btn-warning">Güncelle</button>
}

